@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  max-width: 60ch;
  margin: 0 auto;
  font-family: 'Monaco';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Georgia';
  margin-top: 1em;
  padding-top: 1em;
  color: #333;
  align-self: center;
  text-align: center;
}

strong,
b {
  color: #333;
  display: inline;
}

img {
  margin: 1em 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 2ch;
  color: #555;
  font-size: 1.2em;
}

.paper {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.paper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #d44147;
  box-sizing: border-box;
}

.paper-content {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 30px;
  left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91d1d3 28px);
  background-size: 30px 30px;
}

.paper-content textarea {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: mediumblue;
  font-family: 'Architects Daughter', 'Handlee', cursive;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
}

code {
  padding: 20px;
  margin: 20px;
  vertical-align: text-bottom;
  background: #f5f7f9;
  color: #555;
  display: block;
  font-family: monospace;
  border: 1px solid #999;
}

a {
  color: #e81c4f;
}

strong,
b,
em,
table,
tr,
th {
  -webkit-font-smoothing: antialiased;
}

li {
  list-style-type: circle;
}

input[type='text'] {
  min-height: 3ch;
  width: 50%;
  margin: 0 auto;
}

span.definable {
  text-decoration: underline wavy #e81c4f;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

img.definable {
  border: 3px dashed #e81c4f;
  padding: 2ch;
}

.todo > summary::marker {
  font-size: 1.5em;
}

.todo > summary {
  list-style-type: '☐';
  text-align: center;
  font-size: 1.5em;
}

.todo[open] > summary {
  list-style-type: '☑';
}

.activity {
  border: 10px double #e81c4f;
  padding: 2ch;
}

.tagsTable {
  width: 100%;
  align-self: center;
  table-layout: fixed;
  border: 2px solid #999;
  padding: 20px;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px dashed #999;
  font-size: 1.2em;
}

th {
  max-width: 33%;
  word-wrap: break-word;
  font-size: 0.8em;
}

.purple {
  color: darkorchid;
}

.reset {
  width: unset;
  padding: 0;
  margin: 0;
  display: block;
}
